h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}
ul{
    background-color: peachpuff;
    font-style: italic;
    line-height: 20px;
}
.bg-color{
    background-color: plum;
}
p{
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
}
body {
    font-size: 16px;
}
#amarelo{
    background-color: yellow;
    color: black;
}
#vermelho{
    background-color: red;
    color: white;
}
#marrom{
    background-color: brown;
    color: white;
}